# should be 'off' in prod
DEBUG=on

# options:
# - dev (for local development)
# - prod (for deployed versions)
ENVIRONMENT=dev

SECRET_KEY="super-secret-key"

SITE_URL=http://localhost:8000
# Production: https://pagefresh.lvtd.dev

POSTGRES_HOST=db
POSTGRES_DB=cleanapp
POSTGRES_USER=cleanapp
POSTGRES_PORT=5432
POSTGRES_PASSWORD=cleanapp

REDIS_HOST=redis
REDIS_PASSWORD=cleanapp
REDIS_PORT=6379

# If you want to enable social auth via GitHub
# Get these values after creating a new app on GitHub: https://github.com/settings/applications/new
# For Homepage URL use: http://localhost:8000
# For Authorization callback URL use: http://localhost:8000/accounts/github/login/callback/
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# If you want to load blog post images to S3, instead of local storage
AWS_S3_ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=cleanapp
AWS_SECRET_ACCESS_KEY=cleanapp
AWS_S3_BUCKET_NAME=cleanapp

# Email is used for account confirmation, password reset, and PageFresh review digests.
# If you don't specify the key, account confirmation links are printed in the logs.
MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=mg.pagefresh.lvtd.dev
DEFAULT_FROM_EMAIL="Rasul from PageFresh <rasul@pagefresh.lvtd.dev>"

# Optional subscriber newsletter integration.
BUTTONDOWN_API_KEY=

# Stripe Integration, not needed unless you want to sell access
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_MONTHLY=
STRIPE_PRICE_ID_YEARLY=

# MJML URL for self-hosted server
MJML_URL=http://mjml:15500

# Optional integration keys.
OPENAI_API_KEY=

LOGFIRE_TOKEN=
LOGFIRE_CONSOLE_SHOW_PROJECT_LINK=False

SENTRY_DSN=
POSTHOG_API_KEY=
